myservice.wsdl

<definitions name="MyService"
             targetNamespace="http://example.com/myservice.wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://example.com/myservice.wsdl">
      <xsd:element name="MyOperationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MyOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="MyOperationRequest">
    <part name="parameters" element="tns:MyOperationRequest"/>
  </message>

  <message name="MyOperationResponse">
    <part name="parameters" element="tns:MyOperationResponse"/>
  </message>

  <portType name="MyPortType">
    <operation name="MyOperation">
      <input message="tns:MyOperationRequest"/>
      <output message="tns:MyOperationResponse"/>
    </operation>
  </portType>

  <binding name="MyBinding" type="tns:MyPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="MyOperation">
      <soap:operation soapAction="http://example.com/myservice.wsdl#MyOperation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="MyService">
    <port name="MyPort" binding="tns:MyBinding">
      <soap:address location="http://localhost:8000/myservice"/>
    </port>
  </service>

</definitions>